.mainContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}

.bgImage > img {
    width: 100%;
}

.absoluteContainer {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.3rem;
    padding-top: 2rem;
    width: 100%;
    z-index: 10000;
}

.absoluteContainer > h1 {
    font-size: 4rem;
    color: #fff;
    margin: 0;
}

.ipInputCotainer {
    overflow: hidden;
    border-radius: 1.5rem;
    width: 40%;
    display: grid;
    grid-template-columns: 12fr 1.2fr;
    box-shadow: .1rem 3.1rem 2.4rem -1rem rgba(0,0,0,0.42);
    -webkit-box-shadow: .1rem 3.1rem 2.4rem -1rem rgba(0,0,0,0.42);
    -moz-box-shadow: .1rem 3.1rem 2.4rem -1rem rgba(0,0,0,0.42);
}

.ipInput {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    color: #222;
    font-size: 1.6rem;
    border: none;
}

.ipInput::placeholder {
    color: #999;
    font-size: 1.6rem;
}

.ipInputCotainer > button {
    border: .1rem solid #222;
    color: #fff;
    background-color: #222;
    cursor: pointer;
}

.infosContainer {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 4.5rem;
    width: 60%;
    border-radius: 2rem;
    box-shadow: .1rem 3.1rem 2.4rem -1rem rgba(0,0,0,0.42);
    -webkit-box-shadow: .1rem 3.1rem 2.4rem -1rem rgba(0,0,0,0.42);
    -moz-box-shadow: .1rem 3.1rem 2.4rem -1rem rgba(0,0,0,0.42);
}

.infosContainer > button {
    border: none;
    background-color: #fff;
    color: #999;
    font-size: 3rem;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    margin: 0;
    font-size: 1.2rem;
    color: #999;
}

.info {
    margin: 0;
    font-size: 2rem;
    color: #222;
}

.mapContainer {
    flex: auto 1 1;
}

.leaflet-container {
    height: 100%;
}

@media (max-width: 425px) {
    .mainContainer {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .absoluteContainer {
        position: absolute;
        top: 0;
        text-align: center;
        gap: 2.5rem;
        width: 100%;
    }

    .absoluteContainer > h1 {
        font-size: 2.7rem;
    }

    .ipInputCotainer {
        width: 90%;
        display: grid;
        grid-template-columns: 5.5fr 1fr;
    }

    .ipInput, .ipInput::placeholder {
        font-size: 1.4rem;
    }

    .infosContainer > button {
        display: none;
    }

    .infosContainer {
        flex-direction: column;
        gap: 2rem;
        width: 70%;
    }

    .infoContainer {
        gap: .75rem;
    }
}